* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgray;
}

.container {
  max-width: 1440px;
  height: 8000px;
  background-color: white;
  margin: 0 auto;
  position: relative;

  header {
    max-width: 1440px;
    height: 1200px;
    padding-top: 61px;
    position: relative;

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      padding-left: 100px;
      padding-right: 100px;

      ul {
        display: flex;
        gap: 30px;
        list-style-type: none;

        a {
          text-decoration: none;
          font-family: Gilroy;
          font-size: 18px;
          font-weight: 700;
          line-height: 21.76px;
          color: white;

          &:hover {
            color: orange;
          }
        }
      }

      .nav-icon {
        display: flex;
        align-items: center;
        gap: 15px;

        p {
          font-family: Gilroy;
          font-size: 17px;
          line-height: 20.55px;
          color: white;
        }
      }
    }

    main {
      height: 600px;
      margin-top: 400px;
      padding: 1;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .follow {
        display: flex;
        align-items: center;
        position: absolute;
        top: 450px;
        left: 60px;
        gap: 20px;
        transform: rotate(90deg);

        p {
          font-size: 30px;
          color: orange;
        }
      }

      .main-h1 {
        max-width: 750px;
        height: 310px;
        position: absolute;
        top: 350px;

        p{
          color: white;
          font-size: 18px;
        }

        .h1-chiziq {
          display: flex;
          gap: 15px;
          align-items: center;

          .h1-chiziq1 {
            width: 70px;
            height: 4px;
            background-color: #fbd784;
          }

          p {
            font-family: Gilroy;
            font-size: 18px;
            font-weight: 800;
            line-height: 22.05px;
            letter-spacing: 6px;
            color: #fbd784;
          }
        }

        h1 {
          font-family: Chronicle Display;
          font-size: 68px;
          font-weight: 600;
          line-height: 100px;
          color: #ffffff;
        }
      }

      .main-text{
        display: flex;
        position: absolute;
        top: 400px;
        right: 100px;

        p{
          font-size: 30px;
          color: white;
          margin-right: 40px;
        }
        .bir{
          margin-left: 25px;
        }
        .main-text-child{
          position: absolute;
          right: 0px;
          width: 4px;
          height: 150px;
          background-color: white;
        }
      }
    }
  }


}

@media(max-width:1122px){
  main {
    height: 600px;
    margin-top: 400px;
    padding: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .follow {
      display: flex;
      align-items: center;
      gap: 20px;
      transform: rotate(90deg);

      p {
        font-size: 30px;
        color: orange;
      }
    }

    .main-h1 {
      max-width: 750px;
      height: 310px;

      p{
        color: white;
        font-size: 18px;
      }

      .h1-chiziq {
        display: flex;
        gap: 15px;
        align-items: center;

        .h1-chiziq1 {
          width: 70px;
          height: 4px;
          background-color: #fbd784;
        }

        p {
          font-family: Gilroy;
          font-size: 18px;
          font-weight: 800;
          line-height: 22.05px;
          letter-spacing: 6px;
          color: #fbd784;
        }
      }

      h1 {
        font-family: Chronicle Display;
        font-size: 68px;
        font-weight: 600;
        line-height: 100px;
        color: #ffffff;
      }
    }

    .main-text{
      display: flex;
      position: absolute;
      top: 500px;

      p{
        font-size: 30px;
        color: white;
        margin-right: 40px;
      }
      .bir{
        margin-left: 25px;
      }
      .main-text-child{
        width: 4px;
        height: 150px;
        background-color: white;
      }
    }
  }
}