* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgray;
}

.container {
  max-width: 1440px;
  background-color: white;
  margin: 0 auto;
  overflow: hidden;

  header {
    max-width: 1440px;
    height: 1200px;
    padding-top: 61px;

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      padding-left: 100px;
      padding-right: 100px;

      ul {
        display: flex;
        gap: 30px;
        list-style-type: none;

        a {
          text-decoration: none;
          font-family: Gilroy;
          font-size: 18px;
          font-weight: 700;
          line-height: 21.76px;
          color: white;

          &:hover {
            color: orange;
          }
        }
      }

      .nav-icon {
        display: flex;
        align-items: center;
        gap: 15px;

        p {
          font-family: Gilroy;
          font-size: 17px;
          line-height: 20.55px;
          color: white;
        }
      }
    }

    main {
      height: 600px;
      margin-top: 400px;
      padding: 1;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 80px;

      .follow {
        display: flex;
        align-items: center;
        gap: 20px;
        transform: rotate(90deg);

        p {
          font-size: 30px;
          color: orange;
        }
      }
      .follov {
        transform: translateY(-300px);
      }

      .main-h1 {
        max-width: 750px;
        transform: translateY(-250px);

        p {
          color: white;
          font-size: 18px;
        }

        .h1-chiziq {
          display: flex;
          gap: 15px;
          align-items: center;

          .h1-chiziq1 {
            width: 70px;
            height: 4px;
            background-color: #fbd784;
          }

          p {
            font-family: Gilroy;
            font-size: 18px;
            font-weight: 800;
            line-height: 22.05px;
            letter-spacing: 6px;
            color: #fbd784;
          }
        }

        h1 {
          font-family: Chronicle Display;
          font-size: 68px;
          font-weight: 600;
          line-height: 100px;
          color: #ffffff;
        }
      }

      .main-text {
        display: flex;
        transform: translateY(-300px);

        p {
          font-size: 30px;
          color: white;
          margin-right: 40px;
        }
        .bir {
          margin-left: 25px;
        }
        .main-text-child {
          position: absolute;
          right: 0px;
          width: 4px;
          height: 150px;
          background-color: white;
        }
      }
    }
  }
  // sections zarifa //
  section {
    max-width: 1440px;

    .item {
      background-color: rgb(13, 7, 7);
      opacity: 95%;
      // padding-left: 170px;
      transform: translateY(-220px);
      display: flex;
      gap: 80px;
      justify-content: center;
      flex-wrap: wrap;
      gap: 114px;

      .h1-chiziq {
        display: flex;
        gap: 15px;
        align-items: center;

        .h1-chiziq1 {
          width: 70px;
          height: 4px;
          background-color: #fbd784;
        }

        p {
          font-family: Gilroy;
          font-size: 18px;
          font-weight: 800;
          line-height: 22.05px;
          letter-spacing: 6px;
          color: #fbd784;
        }
      }
      .item-text {
        width: 432px;
        transform: translateY(-100px);
        display: flex;
        gap: 50px;
      }

      .equip {
        transform: translateY(100px);
        margin-top: 40px;
      }
      h2 {
        font-family: Chronicle Display;
        font-size: 64px;
        font-weight: 600;
        line-height: 76.8px;
        text-align: left;
        color: #ffffff;
      }
      p {
        font-family: Gilroy;
        font-size: 18px;
        font-weight: 700;
        line-height: 32px;
        text-align: left;
        color: #ffffff;
      }
    }
    .item1 {
      background-color: rgb(13, 7, 7);
      opacity: 95%;
      transform: translateY(-220px);
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 114px;

      .h1-chiziq {
        display: flex;
        gap: 15px;
        align-items: center;

        .h1-chiziq1 {
          width: 70px;
          height: 4px;
          background-color: #fbd784;
        }

        p {
          font-family: Gilroy;
          font-size: 18px;
          font-weight: 800;
          line-height: 22.05px;
          letter-spacing: 6px;
          color: #fbd784;
        }
      }
      .item-text1 {
        width: 432px;
        transform: translateY(-100px);
        display: flex;
        gap: 50px;
      }

      .equip {
        transform: translateY(100px);
        margin-top: 40px;
      }
      h2 {
        font-family: Chronicle Display;
        font-size: 64px;
        font-weight: 600;
        line-height: 76.8px;
        text-align: left;
        color: #ffffff;
      }
      p {
        font-family: Gilroy;
        font-size: 18px;
        font-weight: 700;
        line-height: 32px;
        text-align: left;
        color: #ffffff;
      }
    }
  }

  footer {
    background-color: rgb(15, 10, 10);
    transform: translateY(-200px);
    padding-top: 10px;

    .terms{
      color: white;
      opacity: 70%;
      text-align: left;
      padding: 10px;
    }
    .footer-text {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      gap: 30px;

      p {
        font-family: Gilroy;
        font-size: 18px;
        font-weight: 500;
        line-height: 32px;
        text-align: left;
        color: #ffffff;
        opacity: 70%;
        padding: 4px;
      }
      h4 {
        font-family: Gilroy;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        text-align: left;
        color: #fbd784;
        margin-bottom: 24px;
      }
      .footer-text-child {
        font-family: Gilroy;
        font-size: 18px;
        font-weight: 700;
        line-height: 32px;
        text-align: left;
        color: #ffffff;
        opacity: 100%;
        width: 290px;
        margin-top: 24px;
      }
    }
  }
}

.menyu{
  width: 50px;
  height: 50px;
  display: none;
}

.sidebar{
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  background-color: #fbd784;
  color: white;
  position: relative;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 9999;
  transition: all 1s;
  transform: translateX(-100%);

  img{
    width: 100px;
    height: 50px;
  }

  p{
    margin-top: 30px;
    &:hover{
      color: red;
    }
  }
}
input[type="checkbox"]:checked+ .sidebar{
  transform: translateX(0);
  transition: 1s;
}
input{
  display: none;
}

@media(max-width: 820px){
 .item img{
  width: 400px;
 }
 .item1 img{
  width: 400px;
 }

}

@media(max-width: 658px){
  nav a{
    display: none;
  }
  .nav-icon img{
    display: none;
  }
  .nav-icon p{
    display: none;
  }
  .menyu{
    display: block;
  }

}

@media(max-width:450px){
  .container{
    padding: 10px;
  }

  nav{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;


    nav img{
      width: 70px;
      height: 40px;
    }
    .menyu{
      width: 30px;
      height: 30px;
    }
  }
  .item img{
    width: 250px;
  }
  .item1 img{
    width: 250px;
  }
  main h1{
    font-size: 20px;
    width: 290px;
  }
  section h2{
    width: 290px;
    font-size: 25px;
    text-align: center;
  }
}
