.container {
  max-width: 1920px;
  height: 8000px;
  background-color: rgb(35, 32, 32);
  margin: 0 auto;
  padding: 64px;
}
body {
  background-color: lightgray;
}

header{
  nav {
    width: 1760px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 200px;

    ul {
      display: flex;
      gap: 25px;
      list-style-type: none;
    }

    a {
      font-family: Gilroy;
      font-size: 18px;
      font-weight: 700;
      line-height: 21.76px;
      color: #ffffff;
      text-decoration: none;

      &:hover {
        color: orange;
      }
    }

    .nav-icon {
      display: flex;
      gap: 7px;
      align-items: center;

      p {
        font-family: Gilroy;
        font-size: 17px;
        line-height: 20.55px;
        color: white;
      }
    }
  }

  main {
    display: flex;
    max-width: 1920px;

    .follow {
      display: flex;
      gap: 15px;
      transform: rotate(90deg);

      p {
        font-family: Gilroy;
        font-size: 18px;
        font-weight: 700;
        line-height: 21.76px;
        color: white;
      }

      img{
        width: 20px;
      }
    }
  }
}

@media (max-width: 621px) {
  nav a {
    display: none;
  }

  nav p {
    display: none;
  }

  .nav-icon1 {
    display: none;
  }
}
