* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgray;
}

.container {
  max-width: 1440px;
  height: 8000px;
  background-color: white;
  margin: 0 auto;
  position: relative;
}
.container header {
  max-width: 1440px;
  height: 1200px;
  padding-top: 61px;
  position: relative;
}
.container header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 100px;
}
.container header nav ul {
  display: flex;
  gap: 30px;
  list-style-type: none;
}
.container header nav ul a {
  text-decoration: none;
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.76px;
  color: white;
}
.container header nav ul a:hover {
  color: orange;
}
.container header nav .nav-icon {
  display: flex;
  align-items: center;
  gap: 15px;
}
.container header nav .nav-icon p {
  font-family: Gilroy;
  font-size: 17px;
  line-height: 20.55px;
  color: white;
}
.container header main {
  height: 600px;
  margin-top: 400px;
  padding: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.container header main .follow {
  display: flex;
  align-items: center;
  position: absolute;
  top: 450px;
  left: 60px;
  gap: 20px;
  transform: rotate(90deg);
}
.container header main .follow p {
  font-size: 30px;
  color: orange;
}
.container header main .main-h1 {
  max-width: 750px;
  height: 310px;
  position: absolute;
  top: 350px;
}
.container header main .main-h1 p {
  color: white;
  font-size: 18px;
}
.container header main .main-h1 .h1-chiziq {
  display: flex;
  gap: 15px;
  align-items: center;
}
.container header main .main-h1 .h1-chiziq .h1-chiziq1 {
  width: 70px;
  height: 4px;
  background-color: #fbd784;
}
.container header main .main-h1 .h1-chiziq p {
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 800;
  line-height: 22.05px;
  letter-spacing: 6px;
  color: #fbd784;
}
.container header main .main-h1 h1 {
  font-family: Chronicle Display;
  font-size: 68px;
  font-weight: 600;
  line-height: 100px;
  color: #ffffff;
}
.container header main .main-text {
  display: flex;
  position: absolute;
  top: 400px;
  right: 100px;
}
.container header main .main-text p {
  font-size: 30px;
  color: white;
  margin-right: 40px;
}
.container header main .main-text .bir {
  margin-left: 25px;
}
.container header main .main-text .main-text-child {
  position: absolute;
  right: 0px;
  width: 4px;
  height: 150px;
  background-color: white;
}

@media (max-width: 1122px) {
  main {
    height: 600px;
    margin-top: 400px;
    padding: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  main .follow {
    display: flex;
    align-items: center;
    gap: 20px;
    transform: rotate(90deg);
  }
  main .follow p {
    font-size: 30px;
    color: orange;
  }
  main .main-h1 {
    max-width: 750px;
    height: 310px;
  }
  main .main-h1 p {
    color: white;
    font-size: 18px;
  }
  main .main-h1 .h1-chiziq {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  main .main-h1 .h1-chiziq .h1-chiziq1 {
    width: 70px;
    height: 4px;
    background-color: #fbd784;
  }
  main .main-h1 .h1-chiziq p {
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 800;
    line-height: 22.05px;
    letter-spacing: 6px;
    color: #fbd784;
  }
  main .main-h1 h1 {
    font-family: Chronicle Display;
    font-size: 68px;
    font-weight: 600;
    line-height: 100px;
    color: #ffffff;
  }
  main .main-text {
    display: flex;
    position: absolute;
    top: 500px;
  }
  main .main-text p {
    font-size: 30px;
    color: white;
    margin-right: 40px;
  }
  main .main-text .bir {
    margin-left: 25px;
  }
  main .main-text .main-text-child {
    width: 4px;
    height: 150px;
    background-color: white;
  }
}/*# sourceMappingURL=main.css.map */