* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgray;
}

.container {
  max-width: 1440px;
  background-color: white;
  margin: 0 auto;
  overflow: hidden;
}
.container header {
  max-width: 1440px;
  height: 1200px;
  padding-top: 61px;
}
.container header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 100px;
}
.container header nav ul {
  display: flex;
  gap: 30px;
  list-style-type: none;
}
.container header nav ul a {
  text-decoration: none;
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.76px;
  color: white;
}
.container header nav ul a:hover {
  color: orange;
}
.container header nav .nav-icon {
  display: flex;
  align-items: center;
  gap: 15px;
}
.container header nav .nav-icon p {
  font-family: Gilroy;
  font-size: 17px;
  line-height: 20.55px;
  color: white;
}
.container header main {
  height: 600px;
  margin-top: 400px;
  padding: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
.container header main .follow {
  display: flex;
  align-items: center;
  gap: 20px;
  transform: rotate(90deg);
}
.container header main .follow p {
  font-size: 30px;
  color: orange;
}
.container header main .follov {
  transform: translateY(-300px);
}
.container header main .main-h1 {
  max-width: 750px;
  transform: translateY(-250px);
}
.container header main .main-h1 p {
  color: white;
  font-size: 18px;
}
.container header main .main-h1 .h1-chiziq {
  display: flex;
  gap: 15px;
  align-items: center;
}
.container header main .main-h1 .h1-chiziq .h1-chiziq1 {
  width: 70px;
  height: 4px;
  background-color: #fbd784;
}
.container header main .main-h1 .h1-chiziq p {
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 800;
  line-height: 22.05px;
  letter-spacing: 6px;
  color: #fbd784;
}
.container header main .main-h1 h1 {
  font-family: Chronicle Display;
  font-size: 68px;
  font-weight: 600;
  line-height: 100px;
  color: #ffffff;
}
.container header main .main-text {
  display: flex;
  transform: translateY(-300px);
}
.container header main .main-text p {
  font-size: 30px;
  color: white;
  margin-right: 40px;
}
.container header main .main-text .bir {
  margin-left: 25px;
}
.container header main .main-text .main-text-child {
  position: absolute;
  right: 0px;
  width: 4px;
  height: 150px;
  background-color: white;
}
.container section {
  max-width: 1440px;
}
.container section .item {
  background-color: rgb(13, 7, 7);
  opacity: 95%;
  transform: translateY(-220px);
  display: flex;
  gap: 80px;
  justify-content: center;
  flex-wrap: wrap;
  gap: 114px;
}
.container section .item .h1-chiziq {
  display: flex;
  gap: 15px;
  align-items: center;
}
.container section .item .h1-chiziq .h1-chiziq1 {
  width: 70px;
  height: 4px;
  background-color: #fbd784;
}
.container section .item .h1-chiziq p {
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 800;
  line-height: 22.05px;
  letter-spacing: 6px;
  color: #fbd784;
}
.container section .item .item-text {
  width: 432px;
  transform: translateY(-100px);
  display: flex;
  gap: 50px;
}
.container section .item .equip {
  transform: translateY(100px);
  margin-top: 40px;
}
.container section .item h2 {
  font-family: Chronicle Display;
  font-size: 64px;
  font-weight: 600;
  line-height: 76.8px;
  text-align: left;
  color: #ffffff;
}
.container section .item p {
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  color: #ffffff;
}
.container section .item1 {
  background-color: rgb(13, 7, 7);
  opacity: 95%;
  transform: translateY(-220px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 114px;
}
.container section .item1 .h1-chiziq {
  display: flex;
  gap: 15px;
  align-items: center;
}
.container section .item1 .h1-chiziq .h1-chiziq1 {
  width: 70px;
  height: 4px;
  background-color: #fbd784;
}
.container section .item1 .h1-chiziq p {
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 800;
  line-height: 22.05px;
  letter-spacing: 6px;
  color: #fbd784;
}
.container section .item1 .item-text1 {
  width: 432px;
  transform: translateY(-100px);
  display: flex;
  gap: 50px;
}
.container section .item1 .equip {
  transform: translateY(100px);
  margin-top: 40px;
}
.container section .item1 h2 {
  font-family: Chronicle Display;
  font-size: 64px;
  font-weight: 600;
  line-height: 76.8px;
  text-align: left;
  color: #ffffff;
}
.container section .item1 p {
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  color: #ffffff;
}
.container footer {
  background-color: rgb(15, 10, 10);
  transform: translateY(-200px);
  padding-top: 10px;
}
.container footer .terms {
  color: white;
  opacity: 70%;
  text-align: left;
  padding: 10px;
}
.container footer .footer-text {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;
}
.container footer .footer-text p {
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  color: #ffffff;
  opacity: 70%;
  padding: 4px;
}
.container footer .footer-text h4 {
  font-family: Gilroy;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  color: #fbd784;
  margin-bottom: 24px;
}
.container footer .footer-text .footer-text-child {
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  color: #ffffff;
  opacity: 100%;
  width: 290px;
  margin-top: 24px;
}

.menyu {
  width: 50px;
  height: 50px;
  display: none;
}

.sidebar {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  background-color: #fbd784;
  color: white;
  position: relative;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 9999;
  transition: all 1s;
  transform: translateX(-100%);
}
.sidebar img {
  width: 100px;
  height: 50px;
}
.sidebar p {
  margin-top: 30px;
}
.sidebar p:hover {
  color: red;
}

input[type=checkbox]:checked + .sidebar {
  transform: translateX(0);
  transition: 1s;
}

input {
  display: none;
}

@media (max-width: 820px) {
  .item img {
    width: 400px;
  }
  .item1 img {
    width: 400px;
  }
}
@media (max-width: 658px) {
  nav a {
    display: none;
  }
  .nav-icon img {
    display: none;
  }
  .nav-icon p {
    display: none;
  }
  .menyu {
    display: block;
  }
}
@media (max-width: 450px) {
  .container {
    padding: 10px;
  }
  nav {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
  }
  nav nav img {
    width: 70px;
    height: 40px;
  }
  nav .menyu {
    width: 30px;
    height: 30px;
  }
  .item img {
    width: 250px;
  }
  .item1 img {
    width: 250px;
  }
  main h1 {
    font-size: 20px;
    width: 290px;
  }
  section h2 {
    width: 290px;
    font-size: 25px;
    text-align: center;
  }
}/*# sourceMappingURL=main.css.map */